
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
# Remove package lock files     
package-lock.json

node_modules
build
npm-debug.log
.env
.DS_Store